selenium
undetected-chromedriver
requests
python-docx
openpyxl
lxml
chardet
python-bidi
json5
screeninfo
newmm-tokenizer
tinysegmenter
beautifulsoup4
openai
tiktoken
psutil
progressbar2
customtkinter
mysql-connector-python
