requests
json5
chardet
selenium
undetected-chromedriver
beautifulsoup4
python-docx
openpyxl
lxml
python-bidi
arabic-reshaper
hazm
parsivar
khoshnevis
langcodes
progressbar2
psutil
newmm_tokenizer
tinysegmenter
